<app-hero-section></app-hero-section>
<app-how-it-works></app-how-it-works>
<app-smart-preview></app-smart-preview>
<app-why-trolleymate></app-why-trolleymate>
<app-trusted-partners></app-trusted-partners>
<app-smart-checkout-banner></app-smart-checkout-banner>
<app-connect-us></app-connect-us>
<app-cta-strip></app-cta-strip>
<app-footer></app-footer>
<button class="scroll-to-top" [ngClass]="{ 'show': showScrollToTop, 'hide': !showScrollToTop }" (click)="scrollToTop()"
    aria-label="Scroll to Top">
    <i class="fa-solid fa-angles-up"></i>
</button>